@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotaModel
@{
}

<h1>Detalles de la Mascota</h1>

<div>
    Id: @Model.mascota.Id
</div>
<div>
    Nombre: @Model.mascota.Nombre
</div>
<div>
    Apellido: @Model.mascota.Color
</div>
<div>
    Direccion: @Model.mascota.Especie
</div>
<div>
    Telefono: @Model.mascota.Raza
</div>
<a asp-page="./ListaMascotas" class="btn-default">Lista de Mascotas </a>